<launch>

    <!-- vehicle name e.g. cc2017_car -->
    <arg name="vehicle" default="cc2017_car"/>

    <arg name="inp_odom_topic" default=""/>
    <arg name="out_odom_topic" default=""/>

    <arg name="static_frame" default="" />
    <arg name="moving_frame" default="" />

    <arg name="output" default="log" />

    <node name="project_odom_to_plane_$(arg moving_frame)" pkg="project_odom_to_plane"
          type="project_odom_to_plane_node" output="$(arg output)" >
      <remap from="~/odom_in" to="$(arg inp_odom_topic)"/>
      <remap from="~/odom_out" to="$(arg out_odom_topic)"/>
      <param name="static_frame" type="str" value="$(arg static_frame)" />
      <param name="moving_frame" type="str" value="$(arg moving_frame)" />
    </node>

</launch>
